<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaancaliskan.guvenlinot">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="${app_name}"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="${app_name}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="${app_name"
            android:theme="@style/MainActivityTheme"
            android:autoRemoveFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePassword"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/change_password_menu">
        </activity>
        <activity
            android:name=".FirstLogin"
            android:label="${app_name">
        </activity>
        <activity
            android:name=".NewNoteActivity"
            android:label="@string/new_note"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".UpdateNoteActivity"
            android:label="@string/update_note"
            android:noHistory="true"
            android:autoRemoveFromRecents="true"
            android:parentActivityName=".MainActivity"/>
    </application>
</manifest>